
.bg-image {
    background-image: url('../images/Serviceimg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.services{
  background:transparent;
  padding: 10px 0;
  color: white;
  
}
.common {
  width: 33.33%;
  margin: 40px auto;
  text-align: center;
  
}
.heading{
  margin-bottom: 20px;
  font-weight: 500;
  color: #ff4a57;
  font-size: 16px;
}

.mainHeader{
  font-size: 32px;
  margin-bottom: 20px;
  color: #fff;
}

.mainContent {
  font-size: 16px;
  color: #dfdfdf;
}

.commonBorder{
  background: #ff4a57;
  height: 3px;
  width: 100px;
  margin: 30px auto;
}
/* Grid System */
/* .row{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 40px;
} */
.col-4{
  width: 33.33%;

}

.services__box{
  padding: 40px;
  background: #ae7bbc;
  color: #fff;
  margin: 20px;
}

.commonIcons{
font-size: 40px;
color: #000000;
margin-bottom: 15px;
}

.services__box-header{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.services__box-p{
  font-size: 14px;
  color:#dfdfdf;
}