
  
  .carousel-item {
    height: 80vh;
  }
  
  .carousel-item img {
    
   object-fit:cover;
    height: 80vh;
  }
  
  .carousel-caption {
    
   
    color: #fff;
    text-shadow: 1px 1px #000;
    display: flex;
    transform: translateX(0%);
    transform: translateY(-30%);
    
    justify-content: left;
    
    
    
  }
  
  .carousel-caption h3 {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: left;
  }
  
  .carousel-caption p {
    font-size: 1.5em;
    margin-bottom: 2rem;
    text-align: left;
  }
  
  .container {
    margin-top: 1rem;
    
  }
  
  
  