.team-container{
    background-color: rgb(242, 148, 180);
    height: auto;
    justify-content: center;
}
.team-heading{
    
    color:black;
    font-size: 3rem !important;
    margin-top: 50px;
}
.team-card{
    width: 350px;
    border-radius: 0% !important;
 
   
    
}
.team-card-body{
    background-color: rgb(247, 38, 135);
    
    text-align: center;
    padding: 30px;
    
}

.team-card-img-top{
    border-radius: 0% !important; 
}
.team-card-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    margin-top: 20px;
    
}
.team-card-title{

}
.team-card-name{
    color: whitesmoke;
}

ul.team-icon{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

ul.team-icon li{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px 5px;
}

ul.team-icon li a{
    margin: 0;
    display: inline-block;
    padding: 8px 8px;
    width: 40px;
    height: 40px;
    font-size: 18;
    background-color: whitesmoke;
    color: black;
    border-radius: 50%;
}